@import 'tailwindcss';

@theme {
    /* backgrounds */
    --color-sec-accent: #E1B83D;
    --color-accent: #833DE1;
    --color-page: #141414;
    --color-highlight: oklch(92.5% 0.204 118.9);
    --color-lavender: oklch(86.0% 0.061 282.0);
    --color-maroon: oklch(31.8% 0.131 348.6);
    --color-surface: #292929;
    --color-secondary: #E17E3D;
    --color-danger: #E13D3D;
    --color-success: #60E23C;
    --color-info: #285B94;

    /* primary foregrounds (max contrast) */
    --color-sec-accent-fg: #3D2040;
    --color-accent-fg: #FFFCF5;
    --color-page-fg: #E1E9F5;
    --color-higlight-fg: oklch(0% 0 0);
    --color-lavender-fg: oklch(0% 0 0);
    --color-maroon-fg: oklch(100% 0 0);
    --color-surface-fg: #E1E9F5;
    --color-secondary-fg: #262522;
    --color-danger-fg: #FFFBD9;
    --color-success-fg: #363423;
    --color-info-fg: #F2F2F2;
}

/* 
* {
    outline: 1px solid var(--color-success);
} */

#root {
    background: var(--color-page);
    color: var(--color-page-fg);
}

.lore-grid {
    display: grid;
    grid-template-areas:
        'light dark'
        'info info';
}